<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>DummyImage</string>
	<key>ordering</key>
	<array>
		<string>06F1B362-E6B9-4C53-A85D-E39262401657</string>
		<string>E8126264-B84C-4A17-96A2-52280D87E4C2</string>
		<string>F6EF6D98-0D9D-4041-8877-40FE4B35308E</string>
		<string>B79A7D20-E3AA-4F78-9D46-9E3B6A9C5753</string>
	</array>
	<key>uuid</key>
	<string>63CDCCD5-C2CD-4E73-A3DA-725158110618</string>
</dict>
</plist>
